.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-main {
  line-height: 1.6rem;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  min-width: 1.5rem;
  min-height: 1rem;

}

.box-base  {

  line-height: 1.6rem;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px;
  min-width: 3.5rem;
}
