.unselectable {
  user-select: none;
}

.box-base {
  line-height: 1.6rem;
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  padding: 0.5px 0;
  border: 2px solid transparent;
  border-radius: 10px;
  min-width: 3.5rem;
  border-color: rgb(107 114 128); // gray-500
}

.box-main {
  @extend .box-base;
  min-width: 1.5rem;
  min-height: 1rem;
}
