@tailwind base;
@tailwind components;
@tailwind utilities;


.diceIcon {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url('app/assets/dice.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  .internal{
    stroke: green;
  }
}


.divider {
  border-top: 1px solid #171717;

}

.background {
  @apply bg-neutral-800
}
